
  .projeto-cartao{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background: #1F1F1F;
    border-radius: 40px;
    justify-content: space-around;
    padding: 60px 60px;
    align-items: center;
    margin-bottom: 40px;
  }
  
  .projeto-cartao picture img {
    height: 100%;
    width: 100%;
  }
  
  .cartao-texto{
    align-content: center;

  }
  
  .cartao-texto img{
    max-width: 170px;
  
  }
  
  .projeto-tecnologias{
    display: flex;
    gap: 13px;
    padding-block: 18px 25px;
    align-items: center;
    display: flex;
  }
  
  .logo-projeto{
    max-height: 70px;
  }
  
  .projeto-tecnologias img{
    height: 100%;
    max-width: 30px;
    width: 100%;
  }
  
  .cartao-texto p{
    max-width: 550px;
    width: 100%;
    color: #aeaeae;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 30px;
  }
  
  .projeto-btns{
    display: flex;
    gap: 23px;
  }
  
  .projeto-btns .btn{
    text-align: center;
    padding: 15px 30px;
    font-weight: 600;
    font-size: 1.2rem;
    border-radius: 12px;
    flex-wrap: nowrap;
  }
  
  .preview{
    background: #029CFB;
    transition: 0.2s;
  }
  .repositorio{
    background: #fff;
    color: #000;
    transition: 0.2s;
  }
  .preview:hover{
    background: #fff;
    color: #029CFB;
    transition: 0.2s;
  }
  .repositorio:hover{
    color: #029CFB;
    transition: 0.2s;
  }
  
  @media (max-width:1065px){
    .projeto-btns .btn{
      padding: 15px 20px;
      font-size: 1.2rem;
    }
    
  }
  
  @media (max-width:950px){
    .cartao-texto p{
      font-size: 1rem;
      padding-bottom: 30px;
    }
  
    .projeto-btns .btn{
      padding: 15px 20px;
      font-size: 1rem;
    }
  
  }
  
  
  